RDF Reference IRI

IRIs ([RFC3986](https://datatracker.ietf.org/doc/html/rfc3986), [RFC3987](https://datatracker.ietf.org/doc/html/rfc3987)) serve many purposes as well as their use in RDF. 

An **RDF Reference IRI** is an [IRI](https://www.w3.org/TR/rdf12-concepts/#iri-abnf) that also meets conditions that reduce variability, and hence increase interoperability, when referring to the same [resource](https://www.w3.org/TR/rdf12-concepts/#dfn-resource).

In the language of RFC 3986, an "RDF Reference IRI" is a "target URI" described in [1.2.3.  Hierarchical Identifiers](https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3).

The definition is based on the current (July 2025) material in RDF Concepts and goes in [section IRIs](https://www.w3.org/TR/rdf12-concepts/#section-IRIs). The advised conditions include material from [the note in that section](https://www.w3.org/TR/rdf12-concepts/#h-note-5).

Having a defined terminology in one place with an anchor means that all specs for concrete syntaxes can link to a common concept. It can be used in standards managed by other groups.

No data is invalidated by this proposal.

Semantic is unaffected.

This is describing an ideal with "SHOULD" language.  One reason for deciding not to follow a SHOULD is "existing data is already something else".

---

An **RDF Reference IRI**

MUST (no change here):

1. Be an RDF String
1. Conform to the grammar rule `IRI` in the [IRI grammar](https://www.w3.org/TR/rdf12-concepts/#iri-abnf)

SHOULD:

1. be invariant when applying the [resolution algorithm](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2). There should be no change of RDF Reference IRI (e.g. it does not depend on a base IRI) whether the resolution is "non-strict" or "strict" (see [RFC 3986, 5.2.2. Transform References](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.2). Being idempotent means it does not matter how many times or where it is resolved, the IRI is unchanged.
1. Follow the recommendations of the URI scheme, where they are known.
1. Scheme names are lower case
1. %-encoding are correct (i.e. 2 hex characters) and uppercase.
1. No '.' or '..' segments [RFC 3986 section 3.3 Paths](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3)
   (follows from being stable with respect to resolution).
1. Does not use punycode

Good practice:

1. The RDF String is Unicode Normalization Form C [I18N-Glossary].

We could also include in a note some of the requirements from important schemes (`did:` `http:`, `https:`, `urn`) e.g. http, omit `:80`.

Some material from the note remains as notes.

URLs: [HTML5 URLs](https://html.spec.whatwg.org/multipage/urls-and-fetching.html#urls) are largely compatible with [RFC3987] IRIs, but are based on a processing model important for implementation within web browsers and are not described using a ABNF grammar.

Relative IRI references: Some concrete RDF syntaxes permit relative IRI references as a convenient shorthand that allows authoring of documents independently from their final publishing location. Relative IRI references must be resolved against a base IRI. Therefore, the RDF graph serialized in such syntaxes is well-defined only if a base IRI can be established [RFC3986].


should be resolved before CR

This was discussed during the [#rdf-star meeting on 02 October 2025](https://www.w3.org/2025/10/02-rdf-star-minutes.html#eb90).

<details><summary><i>View the transcript</i></summary>

<h4>Issues related to IRI <a href="https://github.com/w3c/rdf-concepts/issues/223" rel="noopener noreferrer">w3c/rdf-concepts#223</a> <a href="https://github.com/w3c/rdf-n-triples/issues/73" rel="noopener noreferrer">w3c/rdf-n-triples#73</a> <a href="https://github.com/w3c/rdf-concepts/issues/169" rel="noopener noreferrer">w3c/rdf-concepts#169</a></h4>
<p><cite>AndyS:</cite> I started looking at it<br>
<span>… we have a reference name, IRI reference</span><br>
<span>… we must put some things in Turtle etc to add an anchor to it</span><br>
<span>… in reference to lines 4, 5 and 7</span></p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/rdf-concepts/issues/169" rel="noopener noreferrer">Issue 169</a></strong> Relative IRI Reference should bind to the irelative-ref production (by gkellogg) [ms:CR] [spec:editorial]</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/rdf-concepts/issues/223" rel="noopener noreferrer">Issue 223</a></strong> RDF Reference IRI (by afs) [ms:CR]</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/rdf-n-triples/issues/73" rel="noopener noreferrer">Issue 73</a></strong> IRI resolution requirements (by gkellogg) [ms:CR] [needs discussion] [spec:substantive]</p>
<p><cite>&lt;gb&gt;</cite> <strong><a href="https://github.com/w3c/rdf-turtle/issues/89" rel="noopener noreferrer">Issue 89</a></strong> Different parsing of the same absolute IRI with or without base IRI (by Tpt) [ErratumRaised] [ms:CR] [needs discussion]</p>
<p><cite>ktk:</cite> any questions for Andy?<br>
<span>… other updates?</span><br>
<span>… we are waiting for some input from Dorthe on 102 on Semantics</span></p>

<hr /></details>