Add text noting that IRIs schemes have scheme-specific rules

RDF Concepts currently says:

"IRIs in the RDF abstract syntax MUST be resolved per [RFC3986]". There are IRI scheme-specific rules that should also be followed.

Examples of scheme-specific rules:

HTTP [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230#section-2.7.1) -- non-empty authority (host), no default ports.

[DIDs](https://www.w3.org/TR/did-core/#identifier) and URNs [RFC 8141](https://datatracker.ietf.org/doc/html/rfc8141) each have a sub-grammar.

RFD Concepts can't enumerate all possible such rules but ti can mention they exists and like to HTTP/RFC7230.
