Question regarding IRI equality

Hi All,

I was in the process of trying to write a RDF library for Dart at the moment and I had a few questions about what I felt were mixed messages regarding IRI equality that I was hoping I could clear up here.

Essentially I have a class representing the concept of an `IRI` as per the RFC 3987 spec which is mostly focused on performing the conversion to and from `Uri`s  as per the RFC 3986 spec and delegating where I can.

As you can see in the comments above my object equality method below, the current RDF 1.2 concepts document seems fairly clear on the topic and what I have right now does try to follow that fairly literally where whatever codepoints were used to create the object are exactly what is going to be used in order to determine equality and that is it.

```dart
/// Represents an Internationalized Resource Identifier (IRI) according to RFC 3987.
///
/// This class focuses on the parsing, validation, component access, normalization,
/// and URI conversion of IRIs.
@immutable
class IRI {
  // This stores the IRI as a properly encoded Uri as the internal data format
  final Uri _encodedUri;
  // Runes are Dart's unit for Unicode codepoints
  final Runes _codepoints;

  IRI(String originalValue) : _encodedUri = _convertToUri(originalValue), _codepoints = originalValue.runes;

  // Rest of the implementation here

  @override
  int get hashCode {
   // Use IterableEquality to compute a hash code based on the elements (code points).
    return const IterableEquality<int>().hash(_codepoints);
  }

  // From https://www.w3.org/TR/rdf12-concepts/#dfn-iri
  // Two IRIs are equal if and only if they consist of the same sequence of
  // Unicode code points, as in Simple String Comparison in section 5.3.1 of [RFC3987].
  // (This is done in the abstract syntax, so the IRIs are resolved IRIs with no
  // escaping or encoding.) Further normalization MUST NOT be performed before this comparison.
  @override
  bool operator ==(Object other) {
    if (identical(this, other)) return true;
    if (other is! IRI) return false;
    return const IterableEquality<int>().equals(_codepoints, other._codepoints);
  }
}
```

But when I look at the IRI spec and some other sources I got the impression that *some* normalization was infact not only allowed but maybe even *required* and so I just wanted to quickly ask given the following list of IRIs which ones should be considered equal in the context of RDF:

1. http://example.com
2. HTTP://example.com
3. http://EXAMPLE.com
4. http://example.com/
5. http://example.com/:80

I just thought it might make more sense to ask rather than go on being confused :)

IRI equivalence is defined in [Section 5.1 of RFC3987](https://www.rfc-editor.org/rfc/rfc3987#section-5.1) which includes normalisation and comparison -- showing how all IRIs are equivalent by normalising to lower case, adding a trailing slash after domain where missing, and removing (HTTP 80) port. In addition to following the RFC, you can look at existing open source implementations of IRI comparisons - such as in Apache Jena (Java) or RDFlib (Python) which AFAIK do not normalise the IRI strings.

Thanks for the reply, I think you touched on an important point which was actually what I was originally referring to here where I felt as though my reading of Section 5.1 of RFC 3987 was in conflict with how IRI normalisation in the RDF specs and was hoping to just clarify based on those examples I provided based on what's in RFC 3987 could help clear things up a bit.

My understanding as of right now is that case normalisation of the scheme and a US-ASCII host is legitimate (and maybe even required?) based on this from the RFC:

> When an IRI uses components of the generic syntax, the component
   syntax equivalence **rules always apply**; namely, that the scheme and
   US-ASCII only host are case insensitive and therefore should be
   normalized to lowercase.  For example, the URI
   "HTTP://www.EXAMPLE.com/" is equivalent to "http://www.example.com/".
   Case equivalence for non-ASCII characters in IRI components that are
   IDNs are discussed in section 5.3.3.  The other generic syntax
   components are assumed to be case sensitive unless specifically
   defined otherwise by the scheme.

But the additional normalisations I showed were probably not?

> `http://example.com/:80`

should be `http://example.com:80/`.

A [Scheme-Based Normalization](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.3) would prefer omitting the well-known port because it is http (and not, say, `ftp`).

> `http://example.com`

The preferred form is an explicit empty path. `http://example.com/`

The core of RDF does not require any of the normalizations, that isn't to say it's not a good idea.

 [IRI equality is defined](https://www.w3.org/TR/rdf12-concepts/#section-IRIs) as same code points. 
The important thing is that a system must not conclude two IRIs identify the same thing unless the system is sure, be it as syntax or as a logical conclusion.


@bivens-dev - 

> The core of RDF does not require any of the normalizations, that isn't to say it's not a good idea for application assigned IRIs to be normalized.
> 
> [IRI equality is defined](https://www.w3.org/TR/rdf12-concepts/#section-IRIs) as same code points.

Does this answer your question?


Not really I don't think. I am still at the place where by the strictest possible interpretation of that we would say that **none** of these are equivalent if I am understanding that correctly:

- http://example.com
- HTTP://example.com/
- http://EXAMPLE.com/
- http://example.com/
- http://example.com:80/

I am still unable to reconcile that with the counter statement I also offered from the same specification document:

> When an IRI uses components of the generic syntax, the component
syntax equivalence **rules always apply**; namely, that **the scheme and
US-ASCII only host are case insensitive and therefore should be
normalized to lowercase**. For example, the URI
"HTTP://www.example.com/" is equivalent to "http://www.example.com/".
Case equivalence for non-ASCII characters in IRI components that are
IDNs are discussed in section 5.3.3. The other generic syntax
components are assumed to be case sensitive unless specifically
defined otherwise by the scheme.

Those two things just seem to be giving me different answers which makes me think that maybe I am the one who is reading it wrong somehow but the idea that equality is defined strictly by code points doesn't seem to capture the full picture but I am very much open to someone telling me otherwise here.

OK thank you I think that distinction was quite helpful thanks for taking the time to explain it. Closing the issue now.