Various errata from 1.1

From [RDF 1.1 Errata](https://www.w3.org/2001/sw/wiki/RDF1.1_Errata):

* [x] [13 – Missing references to RDF 1.0](https://www.w3.org/2001/sw/wiki/RDF1.1_Errata#erratum_13)
* [ ] [29 – Terminology about IRIs](https://www.w3.org/2001/sw/wiki/RDF1.1_Errata#erratum_29)
  * [ ]  Also, note that [RFC 3987](https://www.rfc-editor.org/rfc/rfc3987) never made it past PROPOSED STANDARD level. This is also referenced in https://github.com/w3c/json-ld-syntax/issues/355.


@afs commented on the IRI issue in https://github.com/w3c/EasierRDF/issues/75#issuecomment-653226264.

> https://www.w3.org/International/wiki/IRIStatus raises issues about encoding of Internationalized Domain Names and presentation of Bidirectional Language.
>
> The grammar for IRIs in RFC3987 over Unicode codepoint is solid.
>
> RDF 1.1 uses IRIs but it doesn't define them, nor create them, encode or decode them. To some extent, it's garbage-in-garbage-out like any other data. The unicode string must conform to RFC3987 grammar and what it refers is consistent between the creator and any app receiving the data.
>
> The %XX issues are not specific to IRIs - it applies to URIs as well. %7E for example. RFC 3986 section 2.3 says "don't do that" and add that normalization should put the real character in. There is discussion in [RDF spec section 3.2](https://www.w3.org/TR/rdf11-concepts/#section-IRIs).

Consider making reference informative, and duplicating the important parts in an appendix, which is probably limited to the grammar and maybe normalization.


IRI Terminology issues now in #15.